[submodule "Jax"]
	path = Jax
	url = https://github.com/drclab/JAX.git
[submodule "Oxford"]
	path = Oxford
	url = https://github.com/MLGlobalHealth/pi-vae.git
[submodule "MuE"]
	path = MuE
	url = https://github.com/debbiemarkslab/MuE
[submodule "pyro"]
	path = pyro
	url = https://github.com/pyro-ppl/pyro

[submodule "prediction-powered-inference"]
	path = prediction-powered-inference
	url = https://github.com/aangelopoulos/prediction-powered-inference
[submodule "chatgpt_academic"]
	path = chatgpt_academic
	url = https://github.com/binary-husky/chatgpt_academic
[submodule "gradio"]
	path = gradio
	url = https://github.com/gradio-app/gradio
[submodule "ChatDulun"]
	path = ChatDulun
	url = https://huggingface.co/spaces/drclab/ChatDulun
[submodule "dulun_store"]
	path = dulun_store
	url = https://huggingface.co/spaces/drclab/dulun_store
[submodule "asr"]
	path = asr
	url = https://huggingface.co/spaces/drclab/asr
[submodule "DulunTTS"]
	path = DulunTTS
	url = https://huggingface.co/spaces/drclab/DulunTTS
